Package: PiTab
Version: 0.0.9
Architecture: armhf
Maintainer: Tom Bryan <tgbryan39@outlook.com>
Depends: python, python-gtk2, python3, mplayer2
Installed-Size: 7700
Homepage: http://example.com
Description: Pi Tab GUI
 This package will install Pi Tab and will change the desktop background to a custom design.
